// COLOURS
$primary: #195697;
$secondary: #664d9e;

// FONTS
$font-family-base: 'Poppins',
$font-family-sans-serif;
$headings-font-family: 'Oswald';

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  letter-spacing: -0.05em;
}

// LINKS
$link-hover-decoration: none;

a {
  transition: $transition-base;
}

// DIMENSIONS
$dimensions-mobile: 60px;
$dimensions-large: 100px;

// ANIMATION
$speed: 0.3s;


$grid-gutter-width: 50px;